<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>회원목록</title>
</th:block>
<th:block layout:fragment="customContents">
	<form action="/addMember" method="post">
		<table border="1">
			<tr>
				<td>아이디</td>
				<td>
					<input type="text" name="memberId">
				</td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td>
					<input type="text" name="memberPw">
				</td>
			</tr>
			<tr>
				<td>권한</td>
				<td>
					<!-- <input type="text" name="memberLevel"> -->
					<select name="memberLevel">
						<option value="판매자">판매자</option>
						<option value="구매자">구매자</option>
						<option value="관리자">관리자</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>이름</td>
				<td>
					<input type="text" name="memberName">
				</td>
			</tr>
			<tr>
				<td>이메일</td>
				<td>
					<input type="text" name="memberEmail">
				</td>
			</tr>
			<tr style="text-align: center;">
				<td colspan="2">
					<button type="submit">회원가입입력</button>
				</td>
			</tr>
		</table>
		<label th:if="${result ne null}" th:text="${result}"></label>
	</form>
</th:block>
</html>