<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>상품목록</title>
</th:block>
<th:block layout:fragment="customContents">
	<!-- 검색 -->
	<form action="/getGoodsSearch" method="post">
		<select name="sk">
			<option value="g.m_id">회원아이디</option>
			<option value="m_name">회원명</option>
			<option value="g_code">상품코드</option>
			<option value="g_name">상품명</option>		
		</select>
		<input type="text" name="sv"><br/>
		
		상품가격 :
		<input type="text" name="firstMoney">-
		<input type="text" name="lastMoney">
		
		<button type="submit">검색</button>
	</form>
	
	<table border="1">
		<tr>
			<td>아이디</td>
			<td>비밀번호</td>
			<td>권한</td>
			<td>이름</td>
			<td>이메일</td>
			<td>상품코드</td>
			<td>상품명</td>
			<td>상품카테고리</td>
			<td>상품가격</td>
			<td>상품색상</td>
			<td>상품크기</td>
			<td>상품등록날짜</td>
			<td>상품상세설명</td>
			<td>수정</td>
			<td>삭제</td>
		</tr>
		<tr th:each="list:${goodsList}">
			<td th:text="${list.memberId}"></td>
			<td th:text="${list.memberPw}"></td>
			<td th:text="${list.memberLevel}"></td>
			<td th:text="${list.memberName}"></td>
			<td th:text="${list.memberEmail}"></td>
			<td th:text="${list.goodsCode}"></td>
			<td th:text="${list.goodsName}"></td>
			<td th:text="${list.goodsCate}"></td>
			<td th:text="${list.goodsPrice}"></td>
			<td th:text="${list.goodsColor}"></td>
			<td th:text="${list.goodsSize}"></td>
			<td th:text="${list.goodsDate}"></td>
			<td th:text="${list.goodsDesc}"></td>
			<td>
				<!-- /modifyMember?memberId="값"&memberPw="값" -->
				<a th:href="@{/modifyGoods(goodsCode=${list.goodsCode})}">
				수정
				</a>
			</td>
			<td>
				<a th:href="@{/delGoods(goodsCode=${list.goodsCode})}">삭제</a>
			</td>
		</tr>
	
	</table>
</th:block>
</html>